<div class="row">
    <div class="large-12 columns edit_message">
        <div>
            <h2>Edit Message</h2>
        </div>

        <%= form_for(@message, :url => {:action => 'update', :id => @message.id}) do |f| %>

        <div class="row">
            <%= f.label :message_Title %>
            <%= f.text_field :title, placeholder: "Message Title", class: "wide_text"  %>
        </div>
        <div class="row">
            <%= f.label :message_Text %>
            <%= f.text_area :message_text, placeholder: "Message Text", class: "wide_text"  %>
        </div>
        <div class="row">
            <%= f.label :text_message %>
            <%= f.text_area :text_message, placeholder: "Sent via SMS", class: "wide_text"  %>
        </div>
        <div>
            <%= f.submit "Edit Message", class: "button success" %>
            <%= link_to "Send Message", send_message_path(@message), class: "button secondary"%>
            <%= link_to "Copy Message", copy_message_path(@message), method: :post, class: "button secondary"%>
          
        </div>

        <% end %>


        <div>
            <br/>
            <%= render "history" %>
        </div>
    </div>
</div>
