<h1>New Message</h1>

<%= form_for @message do |f| %>
<div>
  <%= f.label :message_Title %>
  <%= f.text_field :title, placeholder: "Message Title" %>
</div>
<div><%= f.label :message_Text %>
  <%= f.text_area :message_text, placeholder: "Sent via Email" %>
</div>
<div><%= f.label :text_message %>
  <%= f.text_area :text_message, placeholder: "Sent via SMS" %>
</div>
<div class="hidden"><%= f.label :org_id %>
  <%= f.text_field :org_id, value: @org.id %>
</div>
<div class="hidden"><%= f.label :create_date %>
  <%= f.text_field :create_date, value: Date.today%>
</div>


<%= f.submit "Add Message" %>
<% end %>
