<p class="not_current_step">Step 1. Add Information<span class="current_step">>>>Step 2. Check Representatives</span><span class="not_current_step">>>>Step 3. How to Contact</span></p>
<%= render 'targets/target_messages' %>
<br>
<% form_for(@target, :url => {:patch => 'update', :id => @target.id}) do |f| %>
  <div>
      <%= f.label :address %>
    <%= f.text_field :address, placeholder: "Address" %>
  </div>
  <div>
      <%= f.label :city %>
    <%= f.text_field :city, placeholder: "City" %>
  </div>

  <div>
      <%= f.label :zip_code %>
    <%= f.text_field :zip, placeholder: "Zip Code" %>
  </div>
<% end %>
<%#= link_to "Back", edit_target_path(@target.id), class: "btn btn-success" %>
<%= link_to "Cancel/Delete", delete_target_path(@target.id), method: "delete", class: "btn btn-success" %>
<%= link_to "Next", step_three_target_path(@target.slug), class: "btn btn-success" %>
<%#= link_to "Back to Friend & Family List", targets_path, class: "btn btn-success" %>
