<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <h1>Dear&nbsp;<%= @first_name %></h1>
    <h2> The following message was sent to your Friend/Family on your behalf by Stop Trump</h2>

    <h3> <%= @message_text %>
<% binding.pry %>
      <h2> Contact Your Congressional Representatives!</h2>
      <h3> <table cellpadding="5" cellspacing="5">
        <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Email Link</th>
        </tr>
        <% @action_array[1,@action_array.length-1].each do |r| %>
        <tr>
        <td><%= r[:rep_name] %></td>
        <td><%= r[:rep_phone] %></td>
        <% if r[:rep_email].nil? %>
            <td>Email Not Available</td>
        <% else %>
            <td><%= link_to "Click to Send an Email Message", r[:rep_email] %></td>
        <% end  %>
        </tr>
          <%#= r[:rep_name] + ' ' + r[:rep_phone] %>
        <% end %>
        </table>
      </h3>

    </h3>
  </body>
</html>
