<div class="row">
    <div class="large-12 columns edit_user">
        <div>
            <h2>Edit Profile</h2>
        </div>

        <%= form_for(@user, :url => {:action => 'update', :id => @user.id}) do |f| %>

        <div class="row">
            <%= f.text_field :first_name, placeholder: "First Name", class: "form-control" %>
        </div>
        <div class="row">
            <%= f.text_field :last_name, placeholder: "Last Name", class: "form-control top-spacer" %>
        </div>
        <div>
            <%= f.submit "Edit Profile", class: "button success"  %>
        </div>

        <% end %>

        <%= link_to "Quit Stop Trump", delete_user_path(@user), method: :delete, class: "button secondary" %>
        <%= link_to "Add Friends and Family", targets_path, class: "button secondary" %></div>
</div>

</div>
</div>
