<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%=image_tag attachments["stop-trump-small.png"].url%>
  <h3><%= @salutation %></h3>

  <h3 style="font-weight:normal">The Stop Trump Friends and Family Plan helps people like me in Blue states mobilize their friends and family Red and Purple states to contact their GOP representatives and speak out against the Trump agenda. </h3>
  <h3 style="font-weight:normal">Calls and emails to Congress matter. When Republican Senators and Congressmen know how many of their constituents oppose the Trump agenda, they have to think long and hard about how they’ll vote.  It’s what saved Obamacare.</h3>
  <h3 style="font-weight:normal">This is your monthly email asking you to contact your GOP Congressional Representatives about a critical issue.</h3>
  <h2><% @@message_text.split("|").each do |m| %>
      <p><%= m %></p>
      <%end%>
  </h2>
    <h3>Your Congressional Representatives:</h3>
    <h3> <table cellpadding="5" cellspacing="5">
      <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Email Link</th>
      </tr>
      <% @action_array[1,@action_array.length-1].each do |r| %>
          <tr>
          <td><%= r[:rep_name] %></td>
          <td><%= r[:rep_phone] %></td>
          <% if r[:rep_email].nil? %>
              <td>Email Not Available</td>
          <% else %>
              <td><%= link_to "Click to Send an Email Message", r[:rep_email] %></td>
          <% end  %>
          </tr>
      <% end %>
      </table>
    </h3>
    <h3 style="font-weight:normal">Thanks,</h3>
    <h3 style="font-weight:normal"><%=@user_first_name%></h3>
    <h2>
      <% if @zipPlus4 != "Error"%>
      Just so you know, you can't email your congressional representatives directly. You have to fill out a form on their site and send it that way. Many reps ask for your zipcode+4 before you can submit the form. Yours is <%= @zipPlus4 %>.
      <% end %>
    </h2>
    <br>
    <h3>
      <%=link_to "Unsubscribe", @base_url.to_s + "/targets/" + @target_id.to_s + "/unsubscribe", style: "border-style: solid; border-color: black; padding: 12px 18px 12px 18px; -webkit-border-radius:3px; border-radius:3px; font-size: 16px; font-family: Helvetica, Arial, sans-serif; font-weight: normal; color: black; text-decoration: none; display: inline-block;" %>
    </h3>
  </body>
</html>
