<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <h1><%= @salutation %></h1>
    <h2> <%= @message_text %></h2>
    <h2> Contact Your Congressional Representatives!</h2>

    <h3>
      <% @action_array.each do |r| %>
      <%= r[:rep_name] + ' ' + r[:rep_phone] %>
      <%=link_to "Click to Send a Message", "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/a" %>
      <% end %>
    </h3>
    <br>
    <br>
    <h3>
      <%=link_to "Unsubscribe", @base_url.to_s + "/targets/" + @target_id.to_s + "/unsubscribe" %>
    </h3>
  </body>
</html>
