<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- <title><%#= content_for?(:title) ? yield(:title) : "Untitled" %></title> -->
    <title>Stop Trump</title>


    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
<%= render 'layouts/navbar' %>
<% if !notice.blank? %>
<div class="row">
    <div class="large-6 columns float-left">
        <p class="callout alert"><%= notice %></p>
        <p class="alert"><%= alert %></p>
    </div>
</div>
<% end %>
    <%= yield %>
    <p><a data-open="exampleModal1">Click me for a modal</a></p>
<div class="footer">
<a href="#">About</a><a href="#">How It Works</a><a href="#">FAQs</a><a href="#">Privacy Policy</a><a href="#">Contact Us</a>
</div>
  </body>
  <div class="reveal" id="exampleModal1" data-reveal>
  <h1>Awesome. I Have It.</h1>
  <p class="lead">Your couch. It is mine.</p>
  <p>I'm a cool paragraph that lives inside of an even cooler modal. Wins!</p>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
</html>
