<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- <title><%#= content_for?(:title) ? yield(:title) : "Untitled" %></title> -->
    <title>Stop Trump</title>


    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
<%= render 'layouts/navbar' %>
<% if !notice.blank? %>
<div class="row">
    <div class="large-6 columns float-left">
        <p class="callout alert"><%= notice %></p>
        <p class="alert"><%= alert %></p>
    </div>
</div>
<% end %>
    <%= yield %>

<div class="footer">
<a href="about">About</a><a href="how-it-works">How It Works</a><a href="faq">FAQs</a><a href="#">Privacy Policy</a><a href="#">Contact Us</a>
</div>
  </body>

</html>
